<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Board</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div>Engine: {{agent}}</div>
    <div><a href="#" onclick="resetGame(event)">new game</a></div>
    <div>
      <form>
        <label
          >select Go Agent:
          <select name="go_agent">
            <option value="Random" selected>Random</option>
            <option value="Predict">Predict</option>
          </select>
        </label>
        <input type="submit" value="Run" onclick="resetGame(event)" />
      </form>
    </div>
    <div id="board"></div>
    <div>
      <div id="status">Black to play</div>
      <div id="spinner" style="display: none;" class="loader"></div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='jgoboard-latest.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='large/board.js') }}"
    ></script>
    <script type="text/javascript" src="{{ url_for('static', filename=scriptfile) }}"></script>
  </body>
</html>
